<nz-page-header>
    <nz-page-header-title>Note-Editor</nz-page-header-title>
    <nz-page-header-subtitle *ngIf="note">
        <input nz-input nzBorderless placeholder="Note Title" [(ngModel)]="note.title" />
    </nz-page-header-subtitle>
    <nz-page-header-extra>
        <nz-space>
            <button *nzSpaceItem type="button" nz-button nzType="primary" (click)="save()" [nzLoading]="saving"
                nz-tooltip [nzTooltipTitle]="savedTooltipTemplate" nzTooltipPlacement="top" nzTooltipColor="blue" [nzTooltipTrigger]="null" [nzTooltipVisible]="savedTooltipVisible">
                <ng-template #savedTooltipTemplate>
                    Note saved sucessfully
                    <span nz-icon nzType="check-circle"></span>
                </ng-template>
                <span nz-icon nzType="save"></span>
                <ng-container *ngIf="saving">Saving note...</ng-container>
                <ng-container *ngIf="!saving">Save note</ng-container>
            </button>
            <button *nzSpaceItem type="button" nz-button nzDanger [nzLoading]="deleting"
                nz-popconfirm nzPopconfirmTitle="Are you sure?" nzPopconfirmPlacement="left" nzOkText="Delete" [nzOkDanger]="true" (nzOnConfirm)="delete()">
                <span nz-icon nzType="delete"></span>
                <ng-container *ngIf="deleting">Deleting note...</ng-container>
                <ng-container *ngIf="!deleting">Delete note</ng-container>
            </button>
        </nz-space>
    </nz-page-header-extra>
    <nz-page-header-content>
        <nz-descriptions>
            <nz-descriptions-item nzTitle="Username" *ngIf="note">
                <input nz-input nzBorderless placeholder="Username" [(ngModel)]="note.username" />
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Created" *ngIf="note?.createdAt">
                {{ note?.createdAt | date:'short' }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Updated" *ngIf="note?.updatedAt">
                {{ note?.updatedAt | date:'short' }}
            </nz-descriptions-item>
        </nz-descriptions>
    </nz-page-header-content>
</nz-page-header>

<ng-container *ngIf="loading">
    <nz-spin nzSimple nzSize="large"></nz-spin>
</ng-container>
<ng-container *ngIf="note">
    <app-editor [(ngModel)]="note.content" #editor></app-editor>
</ng-container>