<nz-page-header nzTitle="Notes">
    <nz-page-header-extra>
        <nz-space>
            <button *nzSpaceItem nz-button (click)="load()">
                <span nz-icon nzType="reload"></span>
                Reload
            </button>
            <button *nzSpaceItem nz-button nzType="primary" (click)="newNote()" [nzLoading]="creatingNote">
                <span nz-icon nzType="plus-circle"></span>
                Create new note
            </button>
        </nz-space>
    </nz-page-header-extra>
</nz-page-header>
<nz-list [nzLoading]="loading" [nzDataSource]="notes">
    <nz-list-item *ngFor="let note of notes">
        <nz-list-item-meta [nzTitle]="note.title ?? note.id">
            <nz-list-item-meta-description>
                {{ note.username ?? 'Anonymous user' }} • <span nz-tooltip nzTooltipTitle="Last modified">{{ note.updatedAt | date:'short' }}</span>
            </nz-list-item-meta-description>
        </nz-list-item-meta>
        <ul nz-list-item-actions>
            <nz-list-item-action>
                <nz-button-group>
                    <button nz-button [routerLink]="['/notes', note.id]" [disabled]="creatingNote">
                        <span nz-icon nzType="edit"></span>
                        Edit
                    </button>
                    <button nz-button nzDanger
                        [nzLoading]="isDeleting(note.id)"
                        nz-popconfirm nzPopconfirmTitle="Are you sure?" nzPopconfirmPlacement="left" nzOkText="Delete" [nzOkDanger]="true" (nzOnConfirm)="deleteNote(note)">
                        <span nz-icon nzType="delete"></span>
                        <ng-container *ngIf="isDeleting(note.id)">Deleting...</ng-container>
                        <ng-container *ngIf="!isDeleting(note.id)">Delete</ng-container>
                    </button>
                </nz-button-group>
            </nz-list-item-action>
        </ul>
    </nz-list-item>
</nz-list>