<nz-list [nzLoading]="loading">
    <nz-list-empty nzNoResult="No notes"></nz-list-empty>
    <nz-list-item *ngFor="let note of notes">
        <nz-list-item-meta
            nzDescription="Sebastian Szvetecz • {{ note.createdAt | date:'short' }}"
            [nzTitle]="note.id"></nz-list-item-meta>
        <ul nz-list-item-actions>
            <nz-list-item-action>
                <nz-button-group>
                    <button nz-button [routerLink]="['/notes', note.id]">
                        <span nz-icon nzType="edit"></span>
                        Edit
                    </button>
                    <button nz-button nzDanger
                        [nzLoading]="deletingId === note.id"
                        nz-popconfirm nzPopconfirmTitle="Are you sure?" nzPopconfirmPlacement="left" nzOkText="Delete" [nzOkDanger]="true" (nzOnConfirm)="deleteNote(note)">
                        <span nz-icon nzType="delete"></span>
                        <ng-container *ngIf="deletingId === note.id">Deleting...</ng-container>
                        <ng-container *ngIf="deletingId !== note.id">Delete</ng-container>
                    </button>
                </nz-button-group>
            </nz-list-item-action>
        </ul>
    </nz-list-item>
</nz-list>